.c-bottombar {
    background-color: #f2f2f2;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: calc(var(--g-viewport-height) * -1);
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: var(--g-viewport-height);
    z-index: 5;
}

.c-bottombar.is-active {
    animation: slide-right-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-bottombar__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--g-color-secondary);
    border-bottom: 1px solid var(--g-color-tertiary);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-left: 62px;
}

.c-bottombar__content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
    margin-top: 54px;
}
