.c-bottombar {
    background-color: #f2f2f2;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: calc(var(--g-viewport-height) * -1);
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: var(--g-viewport-height);
    z-index: 5;
}

.c-bottombar.is-active {
    animation: slide-right-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-bottombar.is-closed {
    animation: slide-right-down 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
