.c-bottombar {
    background-color: #f2f2f2;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: calc(var(--g-viewport-height) * -1);
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: var(--g-viewport-height);
    z-index: 5;
}

.c-bottombar.is-active {
    animation: slide-right-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-bottombar.is-closed {
    animation: slide-right-down 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-bottombar__content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
    position: relative;
}

.c-bottombar__content--inner {
    position: absolute;
    top: 0;
    left: -40px;
    right: 0;
    bottom: 0;
}

.c-bottombar__content--left {
    padding-left: -40px;
}

.l-body {
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 72px 0;
}

.l-body--hidden {
    left: -40px;
}

.l-body--has-nav {
    bottom: 48px;
}
