.c-header {
    align-items: center;
    background-color: var(--g-color-secondary);
    border-bottom: 1px solid var(--g-color-tertiary);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.c-header__title {
    font-size: 24px;
    color: var(--g-color-tertiary);
    flex-grow: 1;
    text-align: center;
}

.c-header__button {
    align-items: center;
    background-color: var(--g-color-brown-500);
    border: 2px solid var(--g-color-white-500);
    border-radius: 50%;
    display: flex;
    height: var(--g-header-height);
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    width: var(--g-header-height);
}
