.c-button {
    border-radius: 3px;
    font-size: 16px;
    font-weight: lighter;
    padding: 8px 16px;
    height: 60px;
}

.c-button--primary {
    background-color: var(--g-color-brown-500);
    color: var(--g-color-white-500);
}

.c-button--secondary {
    background-color: var(--g-color-blue-500);
    color: var(--g-color-white-500);
}
