.c-button {
    align-items: center;
    border-radius: 3px;
    display: flex;
    font-size: var(--g-spacing-small);
    font-weight: lighter;
    justify-content: center;
    min-height: 60px;
    width: 62px;
}

.c-button--primary {
    background-color: var(--g-color-brown-500);
    color: var(--g-color-white-500);
}

.c-button--secondary {
    background-color: var(--g-color-blue-500);
    color: var(--g-color-white-500);
}

.c-button--small {
    min-height: 30px;
}

.c-button--narrow {
    max-height: var(--g-spacing-3x-large);
}
