.c-nav {
    display: flex;
    z-index: 4;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    right: 0;
    opacity: 1;
}

.c-nav--column {
    flex-direction: column;
    width: 100%;
}

.c-nav.is-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}
