.c-select-container {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--g-spacing);
    text-align: left;
}

.c-select {
    background-color: var(--g-color-white-500);
    border: 2px solid white;
    border-radius: var(--g-spacing-2x-small);
    margin-bottom: var(--g-spacing-2x-small);
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
}

.c-select__select {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: var(--g-spacing);
    height: 42px;
    padding-left: var(--g-spacing-small);
    padding-right: var(--g-spacing-x-large);
    width: 100%;
    text-align: left;
}

.c-select__select::-ms-expand {
    display: none;
}

.c-select-container.is-invalid .c-select {
    border-color: var(--g-color-red-500);
}

.c-select-container.is-invalid .c-form-field__error_message {
    display: block;
}

.c-select__icon {
    color: currentColor;
    height: var(--g-spacing);
    pointer-events: none;
    position: absolute;
    right: var(--g-spacing-x-small);
    top: 50%;
    transform: translateY(-50%);
    width: var(--g-spacing);
}
