.c-sidebar {
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: var(--g-color-brown-500);
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    width: 60px;
    left: -60px;
    z-index: 1;
}

.c-sidebar.is-active {
    border-right: 2px solid var(--g-color-white-500);
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-sidebar__close {
    position: absolute;
    right: 0;
    top: 0;
}

