.l-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: var(--g-spacing);
    position: relative;
}

.l-body--inner {
    position: absolute;
    top: 0;
    left: calc(var(--g-spacing-2x-large) * -1);
    right: 0;
    bottom: 0;
}

