
html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--g-color-brown-900);
    padding: var(--g-spacing-3x-large) 0;
}



ul,
ol {
    list-style: none;
}

form {
    width: 100%;
}


a {
    color: var(--g-color-tertiary);
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

