html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


ul,
ol {
    list-style: none;
}

form {
    width: 100%;
}


a {
    color: var(--g-color-tertiary);
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

