.c-paragraph {
    margin: 16px;
    text-align: center;
    padding: 16px;
    font-size: 24px;
}

.h-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.c-home-page-container {
    align-items: center;
    animation: slide-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: var(--g-color-blue-500);
    border: 5px solid var(--g-color-white-500);
    justify-content: center;
    display: flex;
    height: 550px;
    width: 550px;
    transform: rotate(45deg);
}

.c-home-page {
    animation: opacity-fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    transform: rotate(-45deg);
}

.c-home-page__title {
    color: var(--g-color-white-500);
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 32px;
    animation: slide-bottom 1s ease-in-out 1s both;
}

.h-display-flex {
    display: flex;
    justify-content: space-between;
}
.c-group-container {
    align-items: center;
    display: flex;
    height: 40px;
}

.c-group-container.is-pushed-right {
    padding-left: 40px;
    transition: padding-left 0.3s ease-out;
}

.c-group-container.is-pushed-right .c-group__placeholder {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
.c-group__placeholder {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background-color: pink;
    width: 40px;
    opacity: 0;
}
.c-group__item {
    flex-grow: 1;
    padding: 16px;
    text-align: left;
}
