.c-paragraph {
    margin: var(--g-spacing);
    text-align: center;
    padding: var(--g-spacing);
    font-size: var(--g-spacing-large);
}


.c-logo-container {
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--g-color-brown-900);
    background-color: var(--g-color-white-500);
    display: flex;
    height: 110px;
    justify-content: center;
    width: 110px;
    padding: 8px;
    text-align: center;

}

.c-logo {
    color: var(--g-color-brown-900);
}

.root {
    background-image: url("./../coffee-shop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(80%);
    height: 100%;
    width: 100%;
}


.c-home-page {
    background-color: rgba(87, 54, 70, 0.6);
    border: 2px solid var(--g-color-brown-900);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--g-spacing-2x-large);
}

.c-home-page__title {
    color: var(--g-color-white-500);
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: var(--g-spacing-x-large);
    animation: slide-bottom 1s ease-in-out 1s both;
}

