.c-group-link-container {
    display: block;
    margin: 16px;
}

.c-group-link__item {
    align-items: center;
    display: flex;
    border-bottom: 1px solid var(--g-color-primary);
    padding: 0 16px;
}

.c-group-link__link {
    color: var(--g-color-primary);
    display: block;
    text-decoration: none;
    padding: 32px 0px;
    width: 100%;
}

.c-group-link__item:hover {
    color: #fff;
    background-color: var(--g-color-quad);
    transition: all 0.3s;
}

.c-group-link__item.is-active {
    background-color: red;
}

.c-paragraph {
    margin: 16px;
    text-align: center;
    padding: 16px;
    font-size: 24px;
}

.h-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.c-home-page-container {
    align-items: center;
    animation: slide-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: var(--g-color-blue-500);
    border: 5px solid var(--g-color-white-500);
    justify-content: center;
    display: flex;
    height: 550px;
    width: 550px;
    transform: rotate(45deg);
}

.c-home-page {
    animation: opacity-fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    transform: rotate(-45deg);
}

.c-home-page__title {
    color: var(--g-color-white-500);
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 32px;
    animation: slide-bottom 1s ease-in-out 1s both;
}

.c-button-group {
    display: flex;

    > button:not(:first-child),
    > .c-button:not(:first-child) {
        margin-left: 16px;
    }

    > .c-button-icon-only:not(:first-child) {
        margin-left: 12px;
    }
}

/*
* Modifiers
*/

.c-button-group--right {
    justify-content: flex-end;
}

.c-button-group--space-between {
    justify-content: space-between;
}
