.c-button-group {
    display: flex;

    > button:not(:first-child),
    > .c-button:not(:first-child) {
        margin-left: 16px;
    }

    > .c-button-icon-only:not(:first-child) {
        margin-left: 12px;
    }
}

/*
* Modifiers
*/

.c-button-group--right {
    justify-content: flex-end;
}

.c-button-group--space-between {
    justify-content: space-between;
}
