.l-footer {
    background-color: var(--g-color-brown-500);
    border-top: 5px solid var(--g-color-white-500);
    bottom: 0;
    box-sizing: border-box;
    height: var(--g-footer-height);
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}

.l-footer__logo {
    align-items: center;
    background-color: var(--g-color-brown-500);
    border: 2px solid var(--g-color-white-500);
    border-radius: 50%;
    bottom: 100%;
    display: flex;
    height: var(--g-footer-height);
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    width: var(--g-footer-height);
}

