.c-icon {
    color: var(--g-color-white-500);
    display: block;
    height: 48px;
    width: 48px;
}

.c-icon--large {
    height: 60px;
    width: 60px;
}

.c-icon--small {
    height: 32px;
    width: 32px;
}

.c-icon--x-small {
    height: 24px;
    width: 24px;
}

.c-icon--2x-small {
    height: 16px;
    width: 16px;
}
