.c-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.c-form-field__input {
    border: 2px solid white;
    border-radius: 3px;
    margin-bottom: 4px;
    font-size: 16px;
    padding: 8px;
}

.c-form-field__label {
    color: white;
    font-weight: lighter;
    margin-bottom: 4px;
}

.c-form-field.is-invalid .c-form-field__input {
    border: 2px solid var(--g-color-red-500);
}

.c-form-field.is-invalid .c-form-field__error_message {
    display: block;
}
