.c-nav-item {
    align-items: center;
    display: flex;
    padding: 0 16px;
}

.c-nav-item__link {
    color: var(--g-color-tertiary);
    display: block;
    text-decoration: none;
    padding: 32px 0px;
    width: 100%;
}

.c-nav-item:hover {
    background-color: var(--g-color-blue-500);
    transition: all 0.3s;
}

.c-nav-item:hover .c-nav-item__link {
    color: var(--g-color-brown-500);
}

.c-nav-item__link.active {
    color: var(--g-color-blue-500);
}

.c-nav-item__item.is-active {
    background-color: red;
}

.c-nav-item--column {
    border-bottom: 1px solid var(--g-color-white-500);
}

.c-nav-item--inline {
    border-right: 1px solid var(--g-color-white-500);
    flex-grow: 1;
    text-align: center;
}
